#u94
{
	background-color: #86494E;
}

#u737,#u748,#u759
{
	background-color: transparent;
}

#u733,#u744,#u755
{
	display: block;
}

#u766-11
{
	font-family: lato, sans-serif;
	color: #FFFFFF;
	background-color: transparent;
	font-weight: 400;
	font-size: 26px;
	line-height: 31px;
	text-align: right;
}

#u782-7
{
	font-family: lato, sans-serif;
	color: #FFFFFF;
	background-color: transparent;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
}

#u766-7,#u782-2
{
	text-decoration: none;
}

@media (min-width: 1491px)
{
	#u94_align_to_page
	{
		max-width: 1920px;
	}

}

@media (min-width: 1201px) and (max-width: 1490px)
{
	#u94_align_to_page
	{
		max-width: 1490px;
	}

}


@media (min-width: 481px) and (max-width: 900px)
{
	#u94_align_to_page
	{
		max-width: 900px;
	}

}


