	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 500px;
		max-width: 1920px;
	}

	#u2744_align_to_page
	{
		max-width: 1920px;
	}

	#u2759-4
	{
		width: 97.92%;
		margin-left: 1.05%;
		left: 0px;
	}

	#u2789-4
	{
		width: 71.31%;
		margin-left: 14.38%;
	}

	#u2808-12
	{
		margin-top: 18px;
		width: 38.91%;
		margin-left: 30.58%;
	}

	#u2747
	{
		margin-top: 68px;
		width: 52.61%;
		margin-left: 26.1%;
	}

	#u94
	{
		width: 1920px;
		padding-bottom: 60px;
		position: relative;
	}

	#u737
	{
		margin-top: 60px;
		width: 4.17%;
		left: 5.79%;
	}

	#u748
	{
		margin-top: 60px;
		width: 4.17%;
		left: 11.2%;
	}

	#u759
	{
		margin-top: 60px;
		width: 4.17%;
		left: 16.62%;
	}

	#u733,#u744,#u755
	{
		width: 100%;
	}

	#u782-7
	{
		margin-right: -10000px;
		margin-top: 80px;
		width: 40%;
		left: 28.86%;
	}

	#u766-11
	{
		margin-right: -10000px;
		margin-top: 72px;
		width: 22.56%;
		left: 74.85%;
	}

